html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
       font-family: 'Poppins', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
       font-family: 'Poppins', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
        font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

/*-- //Reset-Code --*/
.about,.static,.services,.buttom-w3,
.service-inner,.testimonials,.price-table,.gallery,.icons-border,
.service-inner,.ser-img-grids,.contact,.service-inn,.parnters{
    padding: 5em 0;
}
.title {
    font-size: 60px;
    text-align: center;
    color: #000;
    margin-bottom: 45px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 300;
}
.clr {
    color: #fff;
}
/*--nav bar-Code --*/
.banner-up{
    position: relative;
}
.header-w3layouts{
      position: absolute;
    z-index: 99;
    left: 0px;
    width: 100%;
    background: #fff;
}
.nav > li {
    text-align: center;
}
span.banner-nav {
    display: block;
    margin-bottom: 0.5em;
    color: #000;
			    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.bt img{
  position: relative;
  margin-left: 33%;
    
}

div.text-center1 {
   position: relative;
    top: 50px;
  padding:5px;
  list-style-type:none;
  text-align:center;

  /* background-color:#336666; */
  
  margin: 2px;
}
div.text-center1 p{
  top: 90px;
  color:#fff;
}
div.text-center1 h1{
  color:#fff;
}

div.text-center1 a{
  text-decoration:none;
  font-family:Gotham, Arial;
  padding:.2em 1em;
  color:#fff;
  background-color:#000;
  border:1px solid white;
  /*border-radius:1em;*/
}


/*-- nav --*/
.header-bar {
background: transparent;
    padding: 0em 1em;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
color:#fff;	
background: #0ca2cf; 
}
.navbar-default .navbar-nav >.active span.banner-nav {color:#fff;}

.navbar-default .navbar-nav > .active > a:before{
	background: #ff2d37;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
li.active.open {
    background: #0ca2cf;
	color:#000;
}
.navbar-default .navbar-nav > li > a  {
    color: #000;
    letter-spacing: 2px;
    padding: 14px 17px 10px;
    margin: 0 4px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
		    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}
.navbar-nav > li > a {
    text-transform: uppercase;
	color: #000;
}
.navbar-default .navbar-nav > li > a:hover{
color:#fff;	
background: #0ca2cf; 

}
.navbar-default .navbar-nav :hover span.banner-nav {color:#fff;}
.navbar-default .navbar-nav > li > a:focus {
    color:#fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0ca2cf;
}
/*.navbar-default .navbar-nav > li > a {
  */
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
.dropdown-menu li a {
    padding: 9px 15px;
    font-weight: 300;
}
.dropdown-menu {
    min-width: 131px;
    text-align: center;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#0ca2cf;
}
a.navbar-brand {
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0px rgba(74, 76, 76, 0.13);
	line-height: inherit;
}
h1 a.navbar-brand {
    font-size: 39px;
    color: #0ca2cf!important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 14px;
}
a.navbar-brand i{
	color:#ff2d37;
}
/*.navbar-default .navbar-brand {
    color: #131212;
	font-size:50px;
}*/

/*h1 a.navbar-brand span {
    color:rgba(230, 0, 79, 0.9);	
}*/
/*-- //nav --*/

/*-- //nav bar-Code --*/
/*--banner Slider --*/

/*-- Slider --*/
.w3-oneimg{  background: url(../images/b1.jpg);}
.w3-twoimg{  background: url(../images/b2.jpg);}
.w3-threeimg{ background: url(../images/b3.jpg);}
.slider-img { 
background-repeat: no-repeat;
    background-position: center;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*-- //banner Slider --*/
.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: #fff;
  text-decoration: none;
  }

/* Callback example */
/*.events {
  list-style: none;
  }*/

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

/*.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }*/
 .slider-info{
    background:rgba(0, 0, 0, 0);
    color: #fff;
	z-index: 999;
	width:100%;
    text-align: left;
	padding-top: 19em;
}
 .slider-info h4{
	 font-weight:500;
    font-size: 6em;
    letter-spacing: 3px;
}
.slider-info h6 {
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding-bottom: 5px;
}
.slider-info p {
    font-size: 16px;
    padding: 1em 36em 0em 0em;
    line-height: 27px;
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top:60%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
    height: 53px;
    width: 53px;
  background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
   background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
  background-position: right top;
  right: 0;
  }
.callbacks_nav, .callbacks_nav.next {
    background-size: 40px;
}
/*#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}--*/
/*--about--*/
/*--about-inner--*/
.inner_page_about {
    text-align: center;
    background: url(../images/b1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}
.about-inner ul {
    list-style: none;
}
.about-inner span.dog-arrow {
    color: #0ca2cf;
    font-size: 16px;
}
.about-inner ul li span {
    display: inline-block;
    padding: 0px 14px 0px 0px;
}
.about-inner ul li {
    padding-bottom: 17px;
}
.about-inner ul li p {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
}
.about-inner-img {
    background: url(../images/ain1.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0;
    min-height: 310px;
    text-align: center;
}
/*-- counter--*/
.static {
    background:#0ca2cf;
}
span.font{   
 font-size: 51px;
    color:#fff;
    text-align: center;
    padding-bottom: 4px;
	}
.stats-grid {text-align:center;

margin:0 auto;}
.stats-grid:nth-child(3),.stats-grid:nth-child(4){
    margin-bottom: 0em;
}
.counter {
    font-size: 43px;
    margin: 0;
    color:#000;
    letter-spacing: 5px;
}
 .stats-grid h4 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #fff;
    text-transform: uppercase;
}
/*-- //counter --*/
/*--//about-inner--*/
.left-of-about h3{
    font-size: 36px;
    color: #000;
    letter-spacing: 2px;
    padding-bottom: 19px;
}
.about-matter-left p{
	font-size:15px;
    line-height: 30px;
	color:#000;
}
.about-pic {
    background: url(../images/a2.jpg)no-repeat center;
}
.right-of-about{
    background: url(../images/a3.jpg)no-repeat center;
    padding-top: 4.5em;
}
.right-of-about,.about-pic {
	    background-size: cover;
    min-height: 331px;
}
.about-airway p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    line-height: 29px;
}
.about-airway {
    border: 2px solid #fff;
    padding: 3em 2em;
}
.about-right-info {
    background: url(../images/a4.jpg)no-repeat center;
    background-size: cover;
    min-height: 706px;
}
	.about-info-air {
    padding: 4em;
	    background:#0ca2cf;
	}
.about-info-air h4 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
    padding: 0px 0px 14px;
}
.about-info-air p {
    font-size: 15px;
    color: #000;
    line-height: 28px;
    padding-right: 2.5em;
}
.air-list:nth-child(2), .air-list:nth-child(3) {
    padding-top: 3em;
}
/*--//about--*/
/*--services-*/
.services{
    background: url(../images/s1.jpg)no-repeat center;
	    background-size: cover;
}
.its-banner-grid {
    padding: 4em 5em;
}
.white-right h4 {
    font-size: 26px;
    color: #fff;
    letter-spacing: 2px;
	   margin:17px 0px;
}
.white-right p {
    line-height: 25px;
    font-size: 15px;
    color: #000;
}
.gird-ser-clr {
    background:#0ca2cf;
}
.gird-ser-clr2{ 
 background:rgba(255, 255, 255, 0.44);}
.white-left span.fa {
    font-size: 44px;
	color:#000;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3layouts_more-buttn a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    background-color:#f6b200;
    outline: none;
    padding: 6px 17px;
    border: 2px solid #f6b200;
}
.w3layouts_more-buttn a:hover {
    background: #fff;
    color: #000;
}
.its-banner-grid:hover span.banner-icon {
    color: #fff;
}
/*--services inner-*/
.ser-img-grids,.gallery,.contact{
    background: #efefef;
}
.service-num-left h6   {
	font-size: 25px;
    text-align: center;
    color: #fff;
    background: #f6b200;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    line-height: 57px;
    border-radius: 50px;
}
.service-info-left h4 {
    font-size: 19px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000;
    font-weight: 200;
    text-align: left;
    line-height: 34px;
}
.service-num-info:nth-child(3),.service-num-info:nth-child(4),
.service-num-info:nth-child(5),.service-num-info:nth-child(6){
    padding-top: 20px;
}
.left-side-ser {
    padding-right: 52px;
    text-align: right;
}
.service-two-grid h4 {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color:#0ca2cf;
}
.service-two-grid  p {
   font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
    color: #000;
    line-height: 29px;
    padding: 25px 0px;
}
.ser-gr{
    background: url(../images/bb1.jpg) no-repeat 0px 0px;
}
.ser-br {
    background: url(../images/bb2.jpg) no-repeat 0px 0px;
}
.ser-gr,.ser-br {
    background-size: cover;
   min-height:291px;
}
.low-grid {
    margin-top: 4em;
}
.imgser-right-side {
    padding-left: 52px;
}
.services-clr {
    background:#efefef;
    padding: 50px 45px 57px;
    text-align: center;
	border-bottom: 3px solid #f6b200;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.services-clr:hover{background:#f6b200;
}
.its-banner-ser:hover span.banner-icon{
	color:#0ca2cf;
}

span.banner-icon {
    color: #666666;
    font-size: 3.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.service-icon-grid h4 {
    font-size: 18px;
    color:#f6b200;
    letter-spacing: 1px;
    margin-top: 1.5em;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.its-banner-ser:hover .service-icon-grid h4
{color:#fff;}
.service-icon-grid p {
    margin-top: 1em;
    font-size: 14px;
    color: #666666;
    letter-spacing: 1.5px;
	line-height: 25px;
}
.top-ser {
    padding-top: 20px;
}
/*--//services inner-*/
/*--//services-*/
/*-- prices-- */
.price-table{
    background: url(../images/pr1.jpg)no-repeat center;
    background-size: cover;
}
span.cost {
    font-size: 30px;
    color: #fff;
}
span.clr-price{color:#0ca2cf;}
.agileits-banner-grid {
    padding: 2em;
	    background:rgba(255, 255, 255, 0.5);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-banner-grid h4 {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 8px;
    text-transform: uppercase;
}
a.w3_play_icon1 {
    border: 2px solid #000;
    outline: none;
    background: #000000;
    padding: 9px 26px;
    color: #fff;
	    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
a.w3_play_icon1:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
}
.agileits-banner-grid:hover {
    -webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
} 
.clr2{
background:#0ca2cf;}
.clr1,.clr3{    border: 2px solid #0ca2cf;
}
.list-price ul {
    list-style: none;
}
.list-price ul li {
    font-size: 14px;
    color: #000;
    padding-bottom: 16px;
    letter-spacing: 1px;
}
.list-price {
    margin: 13px 0px 0px;
}
/*--// prices-- */
/*-- gallery --*/ 
.gallery-grids.grid-mdl {
    margin-top: 2em;
}
.gallery-box {
    display: block;
    overflow: hidden;
    width: 100%;
	transition: .3s;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
.gallery-box img {
    width: 100%;
}
/*-- image-zoom --*/
img.zoom-img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
img.zoom-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
}
/*-- //image-zoom --*/
/*-- //gallery --*/
/*-- testimonials --*/
.carousel-indicators .active{ background: #31708f; } 
.adjust1{ float:left; width:100%; 
margin-bottom:0; }
 .adjust2{ margin:0; } 
 .carousel-indicators li{ border :1px solid #000; } 
 .carousel-control{ color:#31708f; width:5%; } 
 .carousel-control:hover, 
 .carousel-control:focus{ color:#31708f; } 
 .carousel-control.left, 
.carousel-control.right { background-image: none; }
 .media-object{ margin:auto; } 
.carousel-indicators {
    bottom: -43px;
}
.thumbnail {
border:none; 
    background-color: transparent;
}
blockquote {
    border-left:none;
}
.adjust2 h6{font-size:22px;
           color:#fff;
text-transform: uppercase;
    font-weight: 500;}
.thumbnail .caption p{
    font-size: 18px;
    letter-spacing: 2px;
    color: #000;
    line-height: 33px;
	text-transform: uppercase;
}
.client-img {
    padding: 2em 11em 0em 0em;
}
span.fa.client-quote {
    color: #fff;
    padding: 0px 18px;
}

/*This code is very important it makes form to line well for tracking no */
/*--// testimonials --*/
/*--news letter--*/
.buttom-para{padding:0px 0px 30px;}
.letter input[type="text"] {
    outline: none;
    border: 1px solid #0ca2cf;
    color: #000;
    font-size: 14px;
    padding: 10px;
    width: 70%;
    float: left;
    background:#fff;
}
.post {
    width: 40%;
    margin: 0 auto;
    padding: 22px 0px;
}
.bottom-head p{
    font-size: 14px;
    color: #000;
    padding: 0em 31em;
}
.news-info h4{
    font-size: 28px;
    color: #0ca2cf;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.img-responsive{width:100%;}
.newsletter input[type="submit"] {
    outline: none;
      display: inline-block;
    border:2px solid #0ca2cf;
    color: #fff;
    font-size: 16px;
    padding:8px 0;
  font-weight:700;
    width: 30%;
    background:#0ca2cf;
      transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.newsletter input[type="submit"]:hover {
    color: #fff;
    background:#000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
::-webkit-input-placeholder { /* Chrome */
  color: #908989;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#908989;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #908989;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #908989;
  opacity: 1;
}
/*--//newletter--*/
/*it end here to be used i n anothe program*/














/*--news letter--*/
.buttom-para{padding:0px 0px 30px;}
.letter input[type="email"] {
    outline: none;
    border: 1px solid #0ca2cf;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    width: 70%;
    float: left;
    background:#000;
}
.post {
    width: 40%;
    margin: 0 auto;
    padding: 22px 0px;
}
.bottom-head p{
    font-size: 14px;
    color: #000;
    padding: 0em 31em;
}
.news-info h4{
    font-size: 28px;
    color: #0ca2cf;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.img-responsive{width:100%;}
.newsletter input[type="submit"] {
    outline: none;
	    display: inline-block;
    border:2px solid #0ca2cf;
    color: #fff;
    font-size: 16px;
    padding:8px 0;
	font-weight:700;
    width: 30%;
    background:#0ca2cf;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.newsletter input[type="submit"]:hover {
    color: #fff;
    background:#000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
::-webkit-input-placeholder { /* Chrome */
  color: #908989;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#908989;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #908989;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #908989;
  opacity: 1;
}
/*--//newletter--*/
/*--partners--*/
.parnters{background:#0ca2cf;}
.flexslider-info {
    height: auto;
}
.flex-control-nav {
    right: 50%;
    bottom: 0;
}
/*-- //partners-- */
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 10px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #0ca2cf!important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color:#f6b200;
    font-weight: 600;
    letter-spacing: 2px;
}
.icon-box a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 17px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
/*-- Codes --*/
/*--typography --*/
.typography {
    padding: 5em 0;
}
.mb-60 {
    padding-left: 0;
}

.mb-60 h1, h2, h3, h4, h5, h6 {
    padding-left: 0;
    font-size: 2em;
    text-transform: uppercase;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size:0.9em;
    color: #555;
}
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}
.grid_3.grid_4 {
    margin-top: 2em;
}
.table td, .table>tbody>tr>td>a, .table>tbody>tr>th>a, .table>tfoot>tr>td>a, .table>tfoot>tr>th>a, .table>thead>tr>td>a, .table>thead>tr>th>a {
  padding: 15px!important;
}
.table > thead > tr > th > a, .table > tbody > tr > th > a, .table > tfoot > tr > th > a, .table > thead > tr > td > a, .table > tbody > tr > td > a, .table > tfoot > tr > td > a {
    font-size:0.9em;
    color: #555;
}
.table > thead > tr > th > a, .table > tbody > tr > th > a, .table > tfoot > tr > th > a, .table > thead > tr > td > a, .table > tbody > tr > td > a, .table > tfoot > tr > td > a{
  border-top: none !important;
}
li.list-group-item1 {
    line-height: 2em;
    font-size:0.9em;
    color: #555;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
  font-size:14px;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin: 1em 0 2em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li {
    font-size:0.9em;
}
a.list-group-item {
    color: #555;
    font-size:0.9em;
}

.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
.bars {
    margin-bottom: 0.8em;
    color: #2ad2c9;
	font-size:14px;
}
.bars a{
    margin-bottom: 0.8em;
    color: #000;
  font-size:14px;
}
.bars a:hover{
    margin-bottom: 0.8em;
    color: #2ad2c9;
  font-size:14px;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
/*--//typography--*/
/*----*/
.text-desc{
	position: absolute; 
	left: 0; top: 0;
	 background-color:#ea4c89;
	 height: 100%; 
	 opacity: 0;
	 width: 100%;
	 padding: 20px;
 }
/* effect-7 css */
.port{
	float: left;
	 width: 100%; 
	 position: relative; 
	 overflow: hidden;
	 text-align: center;
	 overflow: hidden;
 }
.port .text-desc{
	opacity: 0;
	 transition: 0.5s;
	 color: #fff;
 }
 .port .text-desc h6{
	font-size:1.7em;
	margin-bottom:0.5em;
	    font-weight: bold;
 }
.port .text-desc p{
	font-size:1em;
	line-height:1.9em;
 }
.port.effect-1 img{
	transition: 0.5s; 
	position: relative;
	 width: 100%;
	 left: 0;
 }
.port.effect-1:hover img{
	left: 50%;
}
.port.effect-1 .text-desc{
	transform: perspective(600px) rotateY(90deg); 
	transform-origin: left center 0;
	 width: 50%;
	 position: absolute;
	 left: 0; top: 0; 
	 padding: 4em 0.7em;
 }
.port.effect-1:hover .text-desc{
	opacity: 1; 
	transform: perspective(600px) rotateY(0deg);
	 z-index: 99;
}
.text-desc h5 {
    margin-top: 1em;
}
/* effect-7 css end */
/*-- //Codes --*/
/*-- contact --*/
.contact input[type="text"]:hover, .contact input[type="email"]:hover, .contact textarea:hover {
    border: 2px solid #f6b200;
}
.styled-input:nth-child(1) {
    margin-top: 0px;
}
.styled-input {
    margin: 2em 0em 0em;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    color: #000;
    border: none;
    padding: 1em;
    border:2px solid #000;
    font-size: 15px;
    width: 100%;
    background: rgba(229, 143, 230, 0);
    outline: none;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact textarea {
    min-height: 13em;
    resize: none;
	margin-bottom:1.5em;
}
.contact input[type="submit"] {
    width: 100%;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border: solid 2px #000;
    padding: .7em 3em;
    outline: 0;
    background:#f6b200;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    color: #fff;
    background:#000;
}
.footer_grid_left p,.footer_grid_left p a {
    color: #000;
    line-height:28px;
	font-size: 14px;
}
.footer_grid_left p a:hover{color:#f6b200;}
.footer_grid_left p span {
    display: block;
}
.contact_footer_grid_left i {

    color: #fff;
    font-size: 26px;
    line-height: 64px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    text-align: center;
    background: #f6b200;
    margin-bottom: 14px;
}
.footer_grid_left:nth-child(4) {
    margin-bottom: 0em;
}
.footer_grid_left {
    margin-bottom: 2em;
}
.contactright {
    padding-left: 7em;
}
.contactright h3 {
    font-size: 30px;
    color: #000;
    margin-bottom: 1em;
}
.address_mail_footer_grids iframe {
    width: 100%;
    height: 25em;
    border: none;
}
/*-- //contact --*/
/*--footer --*/

footer {
    background: #000;
    padding: 20px 0px;
}

footer p {
    padding: 1em 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2.5px;
}

footer p a:hover {
    color: rgb(255, 255, 255);
}

footer p a {
    color: #fff;
    text-decoration: underline;
}
.header-right{
	text-align:right;}
.header-right h2 a {
    font-size: 42px;
    color: #fff;
    letter-spacing: 2px;
	    text-transform: uppercase;
}

.buttom-social-grids ul li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 20px;
    line-height: 32px;
    text-align: center;
}

.buttom-social-grids ul li a {
    font-size: 15px;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.buttom-social-grids ul li a:hover {
    color:#f6b200;
}


.buttom-social-grids ul li:nth-child(2),
.buttom-social-grids ul li:nth-child(3) {
    margin: 0px 4px;
}
/*--//footer --*/

.colo{background:#f6b200;}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 46px;
    height: 54px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	.slider-info h4 {
    font-size: 5em;
	}
	.slider-img {
    min-height: 715px;
}
.slider-info {
    padding-top: 17em;
	    margin: 0 auto;
		width:86%;
}
.slider-info p {
    padding: 1em 24em 0em 0em;
}
.left-of-about h3 {
    font-size: 32px;
}
.about-info-air h4 {
    font-size: 26px;
}
.about-right-info {
    min-height: 658px;
}
.its-banner-grid {
    padding: 3em 4em;
}
.white-left span.fa {
    font-size: 39px;
}
.title {
    font-size: 56px;
}
.about, .static,.services,.parnters,.buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 4.5em 0;
}
.header-right h2 a {
    font-size: 37px;
}
.about-inner-img {
    min-height: 285px;
}
.service-num-left h6 {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 48px;
}
.services-clr {
    padding: 48px 33px 51px;
}
.contact_footer_grid_left i {
    color: #fff;
    font-size: 23px;
    line-height: 54px;
    width: 55px;
    height: 55px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: .8em 1em;
}
.styled-input {
    margin: 1.7em 0em 0em;
}

}
@media(max-width:1366px){
	.slider-img {
    min-height: 632px;
}
.slider-info h4 {
    font-size: 4.5em;
}

.left-of-about h3 {
    font-size: 28px;
	    padding-bottom: 13px;
}
.about-info-air {
    padding: 3em;
}
.air-list:nth-child(2), .air-list:nth-child(3) {
    padding-top: 2em;
}
.about-right-info {
    min-height: 602px;
}
.about, .static,.services,.parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 4em 0;
}
.title {
    margin-bottom: 34px;
	  font-size: 53px;
}
.white-right h4 {
    font-size: 22px;
	    margin: 13px 0px;
}
.thumbnail .caption p {
    font-size: 17px;
}
.news-info h4 {
    font-size: 26px;
}
.counter {
    font-size: 39px;
}
.service-two-grid h4 {
    font-size: 26px;
}
.contactright {
    padding-left: 6em;
}
.contactright h3 {
    font-size: 28px;
}

}
@media(max-width:1280px){
	.slider-img {
    min-height: 600px;
}
.slider-info {
    padding-top: 15em;
	width: 80%;
}
.slider-info p {
	font-size:15px;
    padding: .5em 24em 0em 0em;
}
.slider-info h4 {
    font-size: 4em;
}
.about-airway {
    padding: 2em 1.5em;
}
.right-of-about, .about-pic {
    min-height: 296px;
}
.post {
    width: 45%;
}
.about-inner ul li {
    padding-bottom: 15px;
}
.counter {
    font-size: 33px;
}
.service-num-info:nth-child(3), .service-num-info:nth-child(4), .service-num-info:nth-child(5), .service-num-info:nth-child(6) {
    padding-top: 18px;
}
.contact_footer_grid_left i {
    font-size: 20px;
    line-height: 52px;
    width: 52px;
    height: 52px;
}
.contact textarea {
    min-height: 12em;
}
h3.agileits-icons-title {
font-size: 27px;}
}
@media(max-width:1080px){
	.slider-info {
    padding-top: 14em;
    width: 78%;
}
.slider-info p {
    padding: .5em 13em 0em 0em;
}
.callbacks_nav {
    height: 36px;
    width: 36px;	
}
.callbacks_nav, .callbacks_nav.next {
    background-size: 35px;
}
.agileits-banner-grid {
    padding: 1.8em;
}	
.about-airway p {
    letter-spacing: 1px
}
.about-airway {
    padding: 1em 1.2em;
}
.about-info-air h4 {
    font-size: 23px;
	    letter-spacing: 1px;
}
.air-list:nth-child(2), .air-list:nth-child(3) {
    padding-top: 1.5em;
}
.about-info-air {
    padding: 3em 2.5em;
}
.about-right-info {
    min-height: 579px;
}
.its-banner-grid {
    padding: 2em 2.5em;
}
.white-left span.fa {
    font-size: 35px;
}
.header-right h2 a {
    font-size: 34px;
}
.title {
    margin-bottom: 34px;
    font-size: 48px;
}
.agileits-banner-grid h4 {
    font-size: 22px;
}
span.cost {
    font-size: 24px;
}
.list-price ul li {
    padding-bottom: 13px;
}
.client-img {
    padding: 1em 5em 0em 0em;
}
.carousel-indicators {
    bottom: -58px;
}
.bottom-head p {
    padding: 0em 17em;
}
footer p {
    letter-spacing: 1px;
}
span.font {
    font-size: 46px;
}
.counter {
    font-size: 27px;
}
.service-info-left h4 {
    font-size: 17px;
}
.service-num-left h6 {
    font-size: 18px;
    width: 45px;
    height: 44px;
    line-height: 43px;
}
.left-side-ser {
    padding-right: 38px;
}
.ser-gr, .ser-br {
    min-height: 314px;
}
.contactright h3 {
    font-size: 25px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: .6em 1em;
	    font-size: 14px
}
.contactright h3 {
    margin-bottom: .7em;
}
.footer_grid_left {
    margin-bottom: 1.2em;
}
}
@media(max-width:1050px){
.slider-info h4 {
    font-size: 3.5em;
}
.slider-img {
    min-height: 568px;
}
.about, .static, .services,.parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 3.7em 0;
}
.white-right p {
    font-size: 14px;	
}
.thumbnail .caption p {
    font-size: 16px;
	    line-height: 28px
}
.post {
    width: 51%;
}
.service-num-left h6 {
    width: 39px;
    height: 39px;
    line-height: 39px;
}
.w3layouts_more-buttn a {
    letter-spacing: 1px;
}
.service-two-grid h4 {
    font-size: 23px;
}
span.banner-icon {
    font-size: 3em;
}
}
@media(max-width:1024px){
h1 a.navbar-brand {
    font-size: 37px;
}
.navbar-default .navbar-nav > li > a {
    padding: 14px 13px 10px;
}
.about-matter-left p {
    font-size: 14px;
    line-height: 28px;
}
.left-of-about h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
.about-info-air p {
    font-size: 14px;
    padding-right: 1.5em;
}
.white-right h4 {
    font-size: 20px;
}
span.font {
    font-size: 42px;
}
.ser-gr, .ser-br {
    min-height: 319px;
}
.service-info-left h4 {
    letter-spacing: 1px;
}
.contact_footer_grid_left i {
    margin-bottom: 12px;
}
h3.icon-subheading {
    font-size: 23px;
	}
	h3.agileits-icons-title {
    font-size: 29px;
	    margin: 23px 0 15px;}
}
@media(max-width:991px){
	.navbar-default .navbar-nav > li > a {
    letter-spacing: 1px;
    padding: 14px 9px 10px;
    font-size: 13px;
	}
	.slider-img {
    min-height: 527px;
}
.slider-info {
    padding-top: 13em;
    width: 95%;
}
.slider-info h4 {
    font-size: 3em;
}
.left-of-about {
    text-align: center;
	padding-bottom:25px;
}
.right-of-about, .about-pic {
    min-height: 218px;
}
.about-right-info {
    min-height: 568px;
}
.about-info-air p {
    padding-right:0em;
}
.air-list {
	text-align:center;
}
.its-banner-grid {
    padding: 2em 2em;
    text-align: center;
}
a.w3_play_icon1 {
    padding: 8px 22px;
}
.client-img,.thumbnail .caption {
    padding: 0em;
}
.adjust2 h6 {
    font-size: 18px;
}
.about, .static, .services,.parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 3.2em 0;
}
.title {
    margin-bottom: 27px;
    font-size: 46px;
}
.agileits-banner-grid h4 {
    font-size: 19px;
}
.news-info h4 {
    font-size: 23px;
}
.newsletter input[type="submit"] {
    font-size: 15px;
	padding: 6.5px 0px;
}
.letter input[type="email"] {
    padding: 8px;
}
.post {
    width: 56%;
	padding: 17px 0px;
}
.buttom-social-grids ul li a {
    font-size: 13px;
}
.buttom-social-grids ul li {
    width: 29px;
    height: 29px;
    line-height: 27px;
}
.header-right h2 a {
    font-size: 31px;
}
footer p {
    font-size: 13px;
}
.about-inner-img {
    min-height: 269px;
}
.inner_page_about {
    min-height: 290px;
}
.left-side-ser {
    padding-right: 0px;
    text-align: center;
}
.imgser-right-side {
    padding-left: 0px;
    text-align: center;
}
.left-side-ser {
    margin-bottom: 20px;
}
.imgser-right-side {
    margin-top: 20px;
}
.service-two-grid p{
	text-align:center;
    padding: 15px 0px;
}
.low-grid {
    margin-top: 3em;
}
.ser-gr, .ser-br {
    min-height: 448px;
}
.services-clr {
    padding: 31px 28px 38px;
}
.its-banner-ser:nth-child(3) {
    margin-top: 20px;
}
.gallery-grids {
    padding: 0px 5px;
}
.gallery-grids.grid-mdl {
    margin-top: 1em;
}
.contactright {
    padding-left: 4em;
}
.contactright {
    padding-top: 38px;
}
}
@media(max-width:900px){
h1 a.navbar-brand {
    font-size: 36px;
}
.about-info-air h4 {
    font-size: 21px;
    padding: 0px 0px 10px;
}

a.w3_play_icon1 {
    padding: 6px 22px;
}
span.cost {
    font-size: 22px;
}
.title {
    margin-bottom: 24px;
    font-size: 45px;
}
.thumbnail .caption p {
    font-size: 14px;
    line-height: 24px;
}
.adjust2 h6 {
    font-size: 16px;
}
.bottom-head p {
    padding: 0em 14em;
}
.stats-grid h4 {
    font-size: 18px;
}
.about-inner ul li {
    padding-bottom: 13px;
}
.service-info-left h4 {
    font-size: 16px;
}
.service-icon-grid h4 {
    font-size: 17px;
}
}

@media(max-width:800px){
.slider-info h4 {
    font-size: 2.7em;
}
.slider-img {
    min-height: 481px;
}
.slider-info {
    padding-top: 12em;
    width: 80%;
}
.slider-info p {
    font-size: 14px;
    padding: .5em 8em 0em 0em;
	line-height: 23px;
}	
.slider-info h6 {
    font-size: 20px;
}
.about-matter-left p {
    line-height: 26px;
}
.its-banner-grid {
    padding: 2em 1.5em;
}
.bottom-head p {
    padding: 0em 10em;
}
.post {
    width: 66%;
}
.about, .static, .services,.parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 3em 0;
}
.header-bar {
    padding: 0em 0em;
}
span.font {
    font-size: 36px;
}
.inner_page_about {
    min-height: 281px;
}
.about-inner span.dog-arrow {
    font-size: 15px;
}
.service-two-grid h4 {
    font-size: 22px;
}
.ser-gr, .ser-br {
    min-height: 457px;
}
span.banner-icon {
    font-size: 2.5em;
}
.contact input[type="submit"] {
    font-size: 15px;
}
}
@media(max-width:768px){
	.slider-info p {
    padding: .5em 6em 0em 0em;
}
.left-of-about h3 {
    font-size: 23px;
}
.about-airway {
    padding: 2em 1em;
}
.about-info-air {
    padding: 2.5em 2em;
}
.about-info-air h4 {
    font-size: 20px;
}

.white-left span.fa {
    font-size: 32px;
}
.white-right h4 {
    font-size: 19px;
}
.title {
    font-size: 42px;
}
.service-num-left h6 {
    width: 35px;
    height: 35px;
    line-height: 34px;
	font-size: 16px;
}
.service-two-grid p {
    letter-spacing: 1px;
}
.w3layouts_more-buttn a {
    padding: 5px 14px;
}
.service-icon-grid h4 {
    margin-top: 1.2em;
}
.contact_footer_grid_left i {
    font-size: 19px;
    line-height: 48px;
    width: 48px;
    height: 48px;
}
.address_mail_footer_grids iframe {
    height: 22em;
}
h3.icon-subheading {
    font-size: 21px;
}
}
@media(max-width:767px){
	.header-bar {
    padding: .6em 0em;
}
	h1 a.navbar-brand {
    padding-top: 5px;
}
.navbar-nav {
   margin:0px
}
.navbar-default .navbar-nav > li > a {
    padding: 8px 9px 7px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #000;
}
.navbar-default .navbar-toggle {
    border-color: #0ca2cf;
	background-color: #0ca2cf;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
}
.slider-img {
    min-height: 436px;
}
.slider-info {
    padding-top: 10em;
    width: 75%;
}
.agileits-banner-grid {
    width: 70%;
    margin: 0 auto;
}
.priceing-tag:nth-child(2),.priceing-tag:nth-child(3) {
    margin-top: 28px;
}
.right-says {
    width: 30%;
    margin: 0 auto;
    padding: 0px;
}
.thumbnail .caption p {
    font-size: 13px;
    letter-spacing: 1px;
}
.client-img {
    margin-top: 20px;
}
.header-side,.header-right {
    text-align: center;
} 
.header-right h2 a {
    font-size: 28px;
}
.about-inner-img {
    min-height: 346px;
    margin-top: 20px;
}
.about-top-inner {
    text-align: center;
}
.contactright {
    padding-left: 3em;
}
}
@media(max-width:736px){
.header-bar {
    padding: .6em 0em;
}
.slider-info h4 {
    font-size: 2.4em;
}
.slider-info {
    padding-top: 10em;
    width: 68%;
}
.slider-img {
    min-height: 412px;
}	
.slider-info p {
    padding: .5em 2em 0em 0em;
}
.white-left span.fa {
    font-size: 28px;
}
.post {
    width: 80%;
}
.bottom-head p {
    padding: 0em 7em;
}
.counter {
    font-size: 24px;
}
.service-info-left h4 {
    line-height: 29px;
}
.contactright {
    padding-top: 32px;
}
}
@media(max-width:667px){
h1 a.navbar-brand {
    font-size: 34px;
}
.slider-info p {
    padding: .5em .5em 0em 0em;
}
.about-info-air {
    padding: 2em 2em;
}
.white-right h4 {
    font-size: 17px;
}
.news-info h4 {
    font-size: 21px;
}
.bottom-head p {
    padding: 0em 4em;
}
.about-inner ul li {
    padding-bottom: 12px;
}
.service-num-info {
    width: 100%;
}
.service-num-info:nth-child(2),
.service-num-info:nth-child(3),
 .service-num-info:nth-child(4),
 .service-num-info:nth-child(5),
 .service-num-info:nth-child(6) {
    padding-top: 15px;
}
.ser-gr, .ser-br {
    min-height: 410px;
}
h3.agileits-icons-title {
    font-size: 25px;
    margin: 13px 0 15px;
}
}
@media(max-width:640px){
	.slider-img {
    min-height: 406px;
}
.slider-info h4 {
    font-size: 2em;
}
.slider-info h6 {
    font-size: 17px;
}
.left-of-about h3 {
    font-size: 22px;
}
.about-inner ul li p {
    font-size: 14px;
}
.about-inner-img {
    min-height: 350px;
}
.services-clr {
    padding: 31px 22px 38px;
}
.service-icon-grid h4 {
    margin-top: 1em;
}
.service-info-left {
    padding: 0px;
}

}
@media(max-width:600px){
	.callbacks_nav, .callbacks_nav.next {
    background-size: 30px;
}
.title {
    font-size: 39px;
}
span.cost {
    font-size: 20px;
}
.usr-img {
    width: 50%;
}
.flexslider .slides img {
    width: 70%;
    margin: 0 auto;
}
.usr-img:nth-child(3),.usr-img:nth-child(4) {
    margin-top: 20px;
}
span.font {
    font-size: 34px;
}
.services-clr {
    padding: 21px 15px 38px;
}
.contact input[type="submit"] {
    padding: .6em 0em;
}
}
@media(max-width:568px){
	.slider-info h4 {
    font-size: 1.8em;
}
.slider-info {
    width: 65%;
}
.slider-info p {
    padding: .5em 0em 0em 0em;
}
.about-airway {
    padding: 1em .5em;
}
.about-right-info {
    min-height: 440px;
}
.about-info-air {
    padding: 2em 1.5em;
}
.about, .static, .services,.parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 2.8em 0;
}
.its-banner-grid {
    width: 100%;
}
.right-says {
    width: 36%;
}
.about-inner-img {
    min-height: 312px;
}
.service-info-left h4 {
    font-size: 15px;
}
.ser-gr, .ser-br {
    min-height: 346px;
}
.service-two-grid h4 {
    font-size: 20px;
}
.its-banner-ser {
    width: 100%;
}
.service-icon-grid h4 {
    font-size: 15px;
}
.its-banner-ser:nth-child(2),.its-banner-ser:nth-child(3){
    margin-top: 20px;
}
.gallery-grids {
    width: 100%;
}
.gallery-grids:nth-child(2), .gallery-grids:nth-child(3) {
    margin-top: 1em;
}
.footer_grid_left p, .footer_grid_left p a {
    line-height: 25px;
}
}
@media(max-width:480px){
	.slider-info {
    width: 100%;
    text-align: center;
}
.slider-info p {
    font-size: 13px;
}
.slider-img {
    min-height: 373px;
}
.slider-info h6 {
    font-size: 14px;
}
.slider-info h4 {
    font-size: 1.5em;
}
.left-of-about h3 {
    font-size: 20px;
}
h1 a.navbar-brand {
    font-size: 33px;
}
.right-of-about, .about-pic {
    min-height: 247px;
}
.title {
    font-size: 35px;
}
.right-says {
    width: 41%;
}
.bottom-head p {
    padding: 0em 1em;
	    font-size: 13px;
}
footer p {
    line-height: 24px;
}
.stats-grid h4 {
    font-size: 17px;
}
.about-inner-img {
    min-height: 284px;
}
.inner_page_about {
    min-height: 253px;
}
span.banner-icon {
    font-size: 2.2em;
}
.service-num-left h6 {
    width: 30px;
    height: 30px;
    line-height: 29px;
    font-size: 15px;
}
.ser-gr, .ser-br {
    min-height: 301px;
}
.services-clr {
    padding: 21px 15px 29px;
}
.contact textarea {
    min-height: 11em;
}
.contact_footer_grid_left i {
    font-size: 17px;
    line-height: 44px;
    width: 45px;
    height: 45px;
}
.contactright h3 {
    font-size: 23px;
}
}
@media(max-width:440px){
	.navbar-default .navbar-nav > li > a {
    padding: 8px 9px 1px;
}
.about-airway p {
    line-height: 27px;
}
a.w3_play_icon1 {
    font-size: 12px;
}
.news-info h4 {
    font-size: 19px;
}
.post {
    width: 90%;
}
.newsletter input[type="submit"] {
    font-size: 14px;
	    padding: 6px 0px;
}
.letter input[type="email"] {
    padding: 7px;
}
.stats-grid h4 {
    letter-spacing: 1px;
}
.stats-grid {
    width: 50%;
}
.stats-grid:nth-child(3), .stats-grid:nth-child(4) {
    margin-top: 22px;
}
.ser-gr, .ser-br {
    min-height: 265px;
}
}

@media(max-width:414px){
	.callbacks_nav, .callbacks_nav.next {
    background-size: 27px;
}
.about-info-air {
    padding: 2em 1em;
}
.about-info-air h4 {
    font-size: 18px;
}
.right-says {
    width: 47%;
}
.header-right h2 a {
    font-size: 25px;
}
.letter input[type="email"] {
    width: 67%;
}
.newsletter input[type="submit"] {
    width: 33%;
}
.about-inner ul li {
    padding-bottom: 11px;
}
.about-inner-img {
    min-height: 255px;
}
.service-two-grid p {
    padding: 13px 0px;
}
.low-grid {
    margin-top: 2em;
}
.service-num-info:nth-child(2), .service-num-info:nth-child(3), .service-num-info:nth-child(4), .service-num-info:nth-child(5), .service-num-info:nth-child(6) {
    padding-top: 11px;
}
.service-icon-grid p {
    margin-top: .7em;
}
}
@media(max-width:384px){
	.about-right-info {
    min-height: 388px;
}
.white-right h4 {
    margin: 9px 0px;
}
.its-banner-grid {
    padding: 1.7em 1.5em;
}
.agileits-banner-grid {
    width: 77%;
}
.about-inner-img {
    min-height: 236px;
}
.counter {
    font-size: 20px;
}
.service-two-grid p {
    font-size: 13px;
}
.ser-gr, .ser-br {
    min-height: 220px;
}
.contact textarea {
    min-height: 10em;
}
.contactright {
    padding-left: 1em;
}
}
@media(max-width:375px){
	.slider-img {
    min-height: 357px;
}
.slider-info {
    padding-top: 9em;
}
.about, .static, .services, .parnters, .buttom-w3, .service-inner, .testimonials, .price-table, .gallery, .icons-border, .service-inner, .ser-img-grids, .contact, .service-inn {
    padding: 2.5em 0;
}
.about-right-info {
    min-height: 360px;
}
.agileits-banner-grid {
    width: 83%;
}
span.banner-nav {
    margin-bottom: 0.3em;
}
.right-of-about {
    padding-top: 4em;
}
.stats-grid h4 {
    font-size: 15px;
}
.about-inner-img {
    min-height: 225px;
}
.service-info-left h4 {
    font-size: 14px;
}
.ser-gr, .ser-br {
    min-height: 174px;
}
.address_mail_footer_grids iframe {
    height: 19em;
}
}
@media(max-width:320px){
	.right-of-about {
    padding-top: 3em;
}
h1 a.navbar-brand {
    font-size: 31px;
}
.about-right-info {
    min-height: 294px;
}
.about-info-air h4 {
    font-size: 15px;
}
.agileits-banner-grid {
    width: 100%;
}
.right-says {
    width: 78%;
}
.letter input[type="email"] {
    width: 62%;
}
.newsletter input[type="submit"] {
    width: 38%;

}
.about-inner ul li p {
    letter-spacing: 0px;
}
span.font {
    font-size: 29px;
}
.about-inner-img {
    min-height: 183px;
}
.service-two-grid h4 {
    font-size: 19px;
}
.contactright h3 {
    font-size: 21px;
}
.contactright {
    padding-left: .2em;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px!important;
}
}
/*--//responsive--*/






